@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

.app {
  text-align: center;
display: block;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loginPanel {
  background: 
#222222;
padding: 10px;
border-radius: 10px;
width: 250px;
margin: 0 auto;
}
.loginPanel input {
  display: inline-block;
}



#root{
width: 100%;
height: 100%;
}
.content-container{
  margin: 0 auto;
  height: 100%;
}
.logoimgwith5star{
  width: 20%;
}
.project{
  margin: 0 auto;
   width: 100%;
  overflow: auto;
  
}

.toDoLi,.toDoLiSkipped,.toDoLiDone{
border-radius: 20px;

}
.toDoLi{
background-color: black;
margin-top: 5px;
margin-bottom: 5px;
padding-top: 3px;
padding-bottom: 3px;
}
.toDoLiSkipped{
  background-color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  }
  .toDoLiDone{
    background-color: green;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    }
  
.loginbutton{
text-align: right;
}
.disableStatues {
  pointer-events: none;
  opacity: 0.15;
}

.projectOnList{
position: relative;
}
div.sidebar-icon{
  padding-top: 10px;
  }

#statuesList{
  overflow: auto;
  height: 100%;
}


.changeStatusWrapper{
float: left;
width: 80%;

}
.statusWrapper{display: flow-root;}


h1 {
  margin: 0;
  padding: 0;
}
html, body, .app {
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}
.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
  z-index: 100;
}  
.popup\_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white;  
}

.loginContainer{
  display: flex;
  align-items: center;
  height: 100%;
}

.star5{padding: 5px;   cursor:pointer; }
h3{margin-top: 0; margin-bottom: 0;}


div.star5 > div{margin: 0 auto;}








body {
    /* Remember to use the other versions for IE 10 and older browsers! */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    color: #fff;
    background: #222222;
    background: #16222A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #16222A , #3A6073); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #16222A , #3A6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

header{
  display: flex;  
  width: 100%;
  background:rgba(58,63,68,0.5);
  align-items:center;
  padding: 5px;
}




.login{
      border-radius: 5px;
      box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
      padding-right: 10px;
}
.login>a{
  padding-right: 10px;
}


.logo{
    font-family: "museo-slab";  
    font-size:20px;
    text-align: center;
    padding: 20px 20px 0;
    margin:0;
  }

.form-field{
padding: 5px 0;

}
label{
padding-right: 5px;

}

.loginPanel button {
	display: block;
  margin: 0 auto;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  transform: translatez(0);
  text-decoration: none;
  box-sizing: border-box;
  font-size: 20px;
	font-weight: normal;
  box-shadow: 0 9px 18px rgba(0,0,0,0.2);
  text-align: center;
	border-radius: 50px;
  padding: 26px;
  color: white;
  background: green;
  transition: all 0.2s ease-out 0s;
}
.loginPanel button:hover {
  background: #14c2e7;
  cursor:pointer;
}
button{  outline: none;
}

.loginPanel input {
  font-size: 15px;
  text-align: center;
	position:relative;
	font-size: 1.5em;
	background: linear-gradient(21deg, #10abff, #1beabd);
	display: inline-block;
  border-radius: 9999em;
  font-family: inherit;
	line-height:inherit;
	color:#2e3750;
  width: 100%;
  outline: none;
  }
  label{
  font-size: 25px;
  padding-bottom: 10px;
  color: #14c2e7;
}

.loginPanel .logo{font-size: 35px; color: green;}
.form-input{margin-top: 5px;}





.deleteButton{background: rgb(223, 117, 20); color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);}






























.App-link {
  color: #09d3ac;
}

a {
    color: #00c136;
  }

.alert{
  color: red;
}
.content{
  display: flex;

}



.sidebar{
  width: 200px;
  padding-top: 25px;
}

.sidebar-link{
  padding: 10px;
}

.sidebar-link:hover{
border-right: 5px solid dimgray;
background-color: gainsboro;
}
.sidebar-container{
  min-height: 100vh;
}


 
ul{
    list-style-type: none;
  }
  li{
    float: left;
  }
  form > div{
    display: inline-block;
  }
  select{
    display: block;
  margin: 0 auto;
  color: black;
  }
  div.user-wrapper > form > div > p{
    text-align: center;
  }

.register{
position: absolute;
bottom: 0;
right: 0;
padding: 5px;

}

.baseProject{
  flex-grow:1;
}
.baseProject > div > div{
  margin: 0 auto;

}
.baseProject:hover{}


.logo{
    font-family: "museo-slab";  
    font-size:20px;
    text-align: center;
    padding: 0px 20px 20px;
    margin:0;
  }

.form-field{
    text-align: center;
}


.form-field label{
  text-align: center;
}

.nav-link{font-size: 20px;}




input#projectInputFilter {
  font-size: 15px;
  text-align: center;
	position:relative;
	background: linear-gradient(21deg, #10abff, #1beabd);
	display: inline-block;
  border-radius: 9999em;
  font-family: inherit;
	line-height:inherit;
	color:#2e3750;
  outline: none;
  }

  input#projectInputFilter::placeholder {
    color: #000;
    }
.projectList{    padding-top: 60px; height: 600px; overflow: auto;}
.projectName{cursor:pointer;}
.projectName button{cursor:pointer;}
.projectList h4{margin-bottom: 0; margin-top: 5px;}
.selectedProject{padding: 2px;
  background-color: royalblue;
  border-radius: 20px;}