@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

.app {
  text-align: center;
}
#root{
  width: 100%;
  height: 100%;
  }
.loginPanel {
  background: 
#222222;
padding: 10px;
border-radius: 10px;
width: 250px;
margin: 0 auto;
}
.loginPanel input {
  display: inline-block;
}
.content-container{
  flex: auto;
}





.project{
  margin: 0 auto;
   width: 100%;
  overflow: auto;
  overflow: hidden;
  
}

.toDoLi,.toDoLiSkipped,.toDoLiDone{
border-radius: 20px;

}
.toDoLi{
background-color: black;
margin-top: 5px;
margin-bottom: 5px;
padding-top: 3px;
padding-bottom: 3px;
}
.toDoLiSkipped{
  background-color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  }
  .toDoLiDone{
    background-color: green;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    }
  
.loginbutton{
text-align: right;
}
.disableStatues {
  pointer-events: none;
  opacity: 0.15;
}

.projectOnList{
position: relative;
}
div.sidebar-icon{
  padding: 10px;
  }

#statuesList{
  overflow: auto;
  height: 100%;
}


.changeStatusWrapper{
display: flex;
  float: left;
width: 100%;

}
.statusWrapper{display: flow-root;}


h1 {
  margin: 0;
  padding: 0;
}
html, body, .app {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;

}
.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
  z-index: 100;
}  
.popup\_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white;  
}

.loginContainer{
  display: flex;
  align-items: center;
  height: 100%;
}

.star5{padding: 5px;   cursor:pointer; }
h3{margin-top: 0; margin-bottom: 0;}


div.star5 > div{margin: 0 auto;}

.statues{max-height: 600px;}






body {
    /* Remember to use the other versions for IE 10 and older browsers! */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    color: #fff;
    background: #222222;
    background: #16222A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #16222A , #3A6073); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #16222A , #3A6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

header{
  display: flex;  

  background:rgba(58,63,68,0.5);
  align-items:center;
  padding: 5px;
}




.login{
      border-radius: 5px;
      box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
      padding-right: 10px;
}
.login>a{
  padding-right: 10px;
}


.logo{
    font-family: "museo-slab";  
    font-size:20px;
    text-align: center;
    padding: 20px 20px 0;
    margin:0;
  }

.form-field{
padding: 5px 0;

}
label{
padding-right: 5px;

}

.loginPanel button {
	display: block;
  margin: 0 auto;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  transform: translatez(0);
  text-decoration: none;
  box-sizing: border-box;
  font-size: 20px;
	font-weight: normal;
  box-shadow: 0 9px 18px rgba(0,0,0,0.2);
  text-align: center;
	border-radius: 50px;
  padding: 26px;
  color: white;
  background: green;
  transition: all 0.2s ease-out 0s;
}
.loginPanel button:hover {
  background: #14c2e7;
  cursor:pointer;
}
button{  outline: none;
}

.loginPanel input {
  font-size: 15px;
  text-align: center;
	position:relative;
	font-size: 1.5em;
	background: linear-gradient(21deg, #10abff, #1beabd);
	display: inline-block;
  border-radius: 9999em;
  font-family: inherit;
	line-height:inherit;
	color:#2e3750;
  width: 100%;
  outline: none;
  }
  label{
  font-size: 25px;
  padding-bottom: 10px;
  color: #14c2e7;
}

.loginPanel .logo{font-size: 35px; color: green;}
.form-input{margin-top: 5px;}





.deleteButton{background: royalblue; color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);}
  .deleteButton:hover{ background: #000;}

  #root > div > div > div.content-container > div > div.projectData > div > form > div > div > label{width: 100px;}
  .projectData >div>div{display: flex;}
  .projectData >div>div>div{  
 
  flex-grow: 1;
  }

































.App-link {
  color: #09d3ac;
}

a {
    color: #00c136;
  }

.alert{
  color: red;
}
.content{
  display: flex;
padding-bottom: 20px;
}



.sidebar{
  width: 200px;
  padding-top: 25px;
}

.sidebar-link{
  padding: 10px;
}

.sidebar-link:hover{
border-right: 5px solid dimgray;
background-color: gainsboro;
}


 
ul{
    list-style-type: none;
  }
  li{
    float: left;
  }
  form > div{
    display: inline-block;
  }
  select{
    display: block;
  margin: 0 auto;
  color: black;
  }
  div.user-wrapper > form > div > p{
    text-align: center;
  }

.register{
position: absolute;
bottom: 0;
right: 0;
padding: 5px;

}

.baseProject{
  flex-grow:1;
  cursor: pointer;
}
.baseProject > div > div{
  margin: 0 auto;

}
.baseProject:hover{}


.logo{
    font-family: "museo-slab";  
    font-size:20px;
    text-align: center;
    padding: 0px 20px 20px;
    margin:0;
  }

.form-field{
    text-align: center;
}


.form-field label{
  text-align: center;
}

.nav-link{font-size: 20px;}




input#projectInputFilter {
  font-size: 15px;
  text-align: center;
	position:relative;
	background: linear-gradient(21deg, #10abff, #1beabd);
	display: inline-block;
  border-radius: 9999em;
  font-family: inherit;
	line-height:inherit;
	color:#2e3750;
  outline: none;
  }

  input#projectInputFilter::placeholder {
    color: #000;
    }
.projectList{    margin-top: 60px; max-height: 600px; overflow: auto;}
.projectName{cursor:pointer;}
.projectName button{cursor:pointer;}
.projectList h4{margin-bottom: 0; margin-top: 5px;}
.selectedProject{padding: 2px;
background-color: royalblue;
  border-radius: 20px;}

  .sidebar-container{
    border-radius: 5px;
    border: 4px solid royalblue;
    background-color: gray;
  }



 div.sidebar-icon > span > svg{border: 4px solid royalblue; cursor: pointer; border-radius: 20px;
  padding: 4px;}

div.saveEditbutton{margin: 5px;}
  #save, #addStatus, #addBaseStatus{
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  transform: translatez(0);
  text-decoration: none;
  box-sizing: border-box;
  font-size: 18px;
  box-shadow: 0 9px 18px rgba(0,0,0,0.2);
  text-align: center;
	border-radius: 50px;
  padding: 12px;
  color: white;
  background: green;
  transition: all 0.2s ease-out 0s;
  }
  #save:hover{cursor: pointer;}
  #addStatus{background-color: gray;}
  
  div.changeStatusWrapper > div > div > button, .deleteStatusButton, .showHideUserNote, button#addStatus{
    margin: 5px;
    overflow: hidden;
    position: relative;
    transform: translatez(0);
    text-decoration: none;
    box-sizing: border-box;
    font-size: 12px;
    box-shadow: 0 9px 18px rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 50px;
    color: white;
    background: green;
    transition: all 0.2s ease-out 0s;}
    div.changeStatusWrapper > div > div > button:hover, .deleteStatusButton:hover, .showHideUserNote:hover, button#addStatus:hover{
      background: #000;
    cursor: pointer;}
div.changeStatusWrapper > div:nth-child(2) > button:hover{cursor: pointer;}
div.sidebar > div > div > div{margin: 5px;}
div.changeStatusWrapper > div{ flex-grow: 1;   flex-basis: 100%; display: flex;
  align-items: center;
  justify-content: center;}
  .statusDesc{ display: flex; border-bottom:  8px solid royalblue; font-size: 20px;}
  .statusDesc>div{flex-grow: 1;   flex-basis: 100%; display: flex;
    align-items: center;
    justify-content: center;}
@media(max-width: 720px){
header{width: 730px;}
}

div.popup  div > div > div:nth-child(2){margin: 5px;} 

div.projectData > div > div:nth-child(1) > div:nth-child(1) > div > label{white-space: pre;}

.userNote{}
.userNote>textarea{width: 90%;
 min-height: 80px;
}
.arrowDown > div{padding: 5px !important; }
.arrowDown > div>svg{height: 40px !important;}

.addStatusDataWrapper{display: flex;}
.addStatusDataWrapper>div{display: grid; flex-grow: 1;}
.addStatusDataWrapper input{width: 50%;
  margin: 0 auto;}
.addBaseStatusDataWrapper{display: block;}

button#addStatus{margin: 0 auto;}

header{padding-top: 4px;}

